.nav {
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a.nav-link {
    text-decoration: none;
    color: #495E57;
    font-weight: 700;
    padding-inline: 2em;
    padding-bottom: 0em;
  }

  .nav-item {
    margin: 0 10px;
  }
  
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
    }
  
    .nav-list {
      flex-direction: column;
    }
  
    .nav-item {
      margin: 10px 0;
    }
  }
  